
<table id="watchlist_table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                24h Δ
            </th>
            <th>
                24h Δ%
            </th>
            <th>
                24h low
            </th>
            <th>
                24h high
            </th>
            <th>
                24h vol
            </th>
            <th>
                Source
            </th>
            <th>
                <form method="POST" id="del_from_watchlist_form" action="#">
                    {% csrf_token %}
                    <input type="hidden" name="checked_symbols" id="checked_symbols">
                    <button type="submit" name="delete_from_watchlist" id="delete_from_watchlist" onclick="findChecked()">
                        Delete
                    </button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for ticker in watchlist_prices %}
        <tr>
            <td>
                {{ ticker.base }} / {{ ticker.quote }}
            </td>
            <td>
                {{ ticker.base_full_name }}
            </td>
            <td>
                {{ ticker.bid }}
            </td>
            <td>
                {{ ticker.daily_delta }}
            </td>
            <td>
                {{ ticker.daily_pct_delta }}
            </td>
            <td>
                {{ ticker.daily_low }}
            </td>
            <td>
                {{ ticker.daily_high }}
            </td>
            <td>
                {{ ticker.daily_vol }}
            </td>
            <td>
                {% include 'crypto/_set_source_form.html' %}
            </td>
            <td>
                <input type="checkbox" class="star" id="del_{{ ticker.id }}" name="del_from_watch" value="{{ ticker.base }}">
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
